-var page = {link1:'إضافة كتاب' , link2: 'إضافة مقال'}
doctype html
html(dir="rtl")
	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article.center-article
			.top.clearfix
				.panel-header
					h2 الشبيه
					span
						span انشر بواسطة :  
						ul.social
							li.facebook: a(href="#")
							li.twitter: a(href="#")
							li.blogger: a(href="#")
						ul.info
							li.views-count 20
						span.date 2:28pm
				.panel-body
					.clearfix
						.home
							.book-view
								.clearfix
									label الكاتب:
									p  أحمد فؤاد قامش
								.clearfix
									label وصف:
									p الكتاب يحتوى على مجموعة من القصص القصيرة للكاتب فى الفترة من 2011 حتى 2013, صدرتالمجموعة عن دار روعة للنشر والتوزيع فى أكتوبر 2012 .
						img.cover(src="img/book.jpg")
					table.table-details
						thead
							tr
								th المكان
								th العنوان
								th التليفون
						tbody
							-for(i=0;i<5;i++)
								tr
									td مكتبة عمر بوك ستور	
									td مكتبة عمر بوك ستور	
									td 01003361217
			.comment-area
				form
					.write-comment
						input(type="text" placeholder="أكتب التعليق  . . . ")
						button(type="submit") تعليق
				.comments
					.title.clearfix
						h3 التعليقات
						span.comments-count 
							sapn.red 56 
							| تعليقات 
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5

		include assets/jade/my-left-side-bar
		include assets/jade/footer
				
