-var page = {link1:'رسالة جديدة' , link2: 'الرسائل'}
doctype html
html(dir="rtl")
	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article.center-article
			.top.clearfix
				.panel-page.contact-us
					.panel-header: h2 اتصل بنا
					.panel-body
						.form-horizontal.flat
							.form-group
								label الاسم
								.control: input.form-control(type="text")
							.form-group
								label البريد الالكترونى
								.control: input.form-control(type="text")
							.form-group
								label مجهول
								span.radio
									input(type="radio", name="unkown", id="yes")
									label(for="yes") نعم
								span.radio
									input(type="radio", name="unkown", id="no")
									label(for="no") لا
							.form-group
								label مجهول
								.control: textarea.form-control(placeholder="نص الرسالة")
							.form-control
								.button-group
									button(type="button").btn.btn-default إرسال
									button(type="button").btn.btn-danger إلغاء
		include assets/jade/links-side-bar
		include assets/jade/footer
