doctype html
html(dir="rtl")
	include assets/jade/head
	body.login
		header.clearfix
			.logo: img(src="img/logo.png")
			.new-user: a(href="register.html") تسجيل مستخدم جديد
		.main-content
			#login-form
				.form-group
					label.required البريد الالكترونى
					input.form-control.user-mail(type="text" required)
				
				.form-group
					.error اسم المستخدم او كلمة المرور التى ادخلتها غير صحيحة

				.form-group
					a.submit(href="index.html") تغيير كلمة المرور
			.links
				ul
					li: a(href="who-we-are.html") من نحن
					li: a(href="privacy.html") الخصوصية
					li: a(href="licence.html") الشروط والأحكام
		include assets/jade/footer




