-var page = {link1:'إضافة كتاب' , link2: 'إضافة مقال'}
doctype html
html(dir="rtl")
	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article.center-article
			.top.clearfix
				.home
					.writer-info
						.user-pic: img(src="img/profile-pic.jpg")
						a.user-url(href="profile.html") Karim Farid
						div
							span.date 13-4-2014
							span.time 12:22PM
					.book.content
						h2 الفريد
						p التشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  الخارجي للنص أو شكل  أن المحتوى المقروء لصفحة ما سيلهي القارئ لصفحة ما سيلهي القارئ عن التركيز على الشكل  الخارجي للنص أو لصفحة ما سيلهي القارئ عن التركيز على الشكل  الخارجي للنص أو لخارجي للنص أو لصفحة ما سيلهي القارئ عن التركيز على الشكل
							a.more(href="#")    .... المزيد
				img.cover(src="img/book.jpg")
				.article-actions
					a.like(href="#") 598
					a.dislike(href="#") 3
					a.retweet(href="#") 255
			.comment-area
				form
					.write-comment
						input(type="text" placeholder="أكتب التعليق  . . . ")
						button(type="submit") تعليق
				.comments
					.title.clearfix
						h3 التعليقات
						span.comments-count 56 تعليقات
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
		include assets/jade/left-side-bar
		include assets/jade/footer
				
