-var page = {link1:'رسالة جديدة' , link2: 'الرسائل'}
doctype html
html(dir="rtl")
	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article
			.top.clearfix
				.messages
					h2 الرسائل 
						span (55)
					table.table-striped
						thead
							tr
								th(width="5%"): input(type="checkbox").selectAll
								th(width="30%") المرسل
								th(width="60%") عنوان الرسالة
								th(width="5%")
						tbody
							-for(i=0;i<20;i++)
								tr
									td: input(type="checkbox")
									td
										img(src="img/commenter.jpg")
										a.sender(href="#") احمد مجدى
									td: a.messageTitle(href="#") المقال الصحفي المتوازي الثنائي
									td: a.delete-icon(href="#")
					.pagination
						ul.clearfix
							li: a(href="#") السابق
							-for(i=1;i<8;i++)
								li: a(href="#")=i
							li: a(href="#") التالى
		include assets/jade/footer
