doctype html
html(dir="rtl")
	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article
			.top.clearfix
				.search#search
					.filter
						ul.clearfix
							li.selected: a(href="#") الكل
							li: a(href="#") كتب
							li: a(href="#") مقالات
							li: a(href="#") اشخاص
					.results
						h2 نتائج البحث (65)
						-for(i=0;i<3;i++)
							section.result.clearfix
								img(src="img/book.jpg").result-img
								.writer-details
									.user-pic: img(src="img/commenter.jpg")
									.user-name: a(href="profile.html") Karim Farid
								h3: a(href="#") صالح نفسك
								p التشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  الخارجي للنص أو شكل  أن المحتوى المقروء لصفحة ما سيلهي القارئ اَ 
									a(href="#").more    .... المزيد
								
					.pagination
						button(type="button").btn: i.fa.fa-angle-down
		include assets/jade/footer
