-var page = {link1:'إضافة مقال' , link2: 'إضافة كتاب'}
doctype html
html(dir="rtl")
	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		#settingsMode.dropdown.dropdown-tip
			ul.dropdown-menu
				li.delete: a(href="#") حذف
				li.edit: a(href="#") تعديل
		article.center-article
			.top.clearfix
				a(href="#" data-dropdown="#settingsMode").dropdownSettings
					i.fa.fa-gears
				.panel-header
					h2 بنى سلول
					span
						span انشر بواسطة :  
						ul.social
							li.facebook: a(href="#")
							li.twitter: a(href="#")
							li.blogger: a(href="#")
						ul.info
							li.views-count 20
						span.date 2:28pm
				.panel-body
					.clearfix
						.home
							.article-view
								.clearfix
									label الكاتب:
									p: a(href="profile.html")  د / فاطمة الزهراء الحسيني
								.clearfix
									label المقال:
									p افي أرض لا يعرف المستحيل طريقه اليها 
										|و لا اعتبر خائنا .. يستحق النفي خارج هذه الأرض .. ليس هذا فحسب بل عليه ان يتخلى عن ذاكرته بأن يشرب من ماء النسيان .. فينسى كل شيء بخصوص هذه الأرض 
										|تائها ذليلا .. من قد يريد عقابا كهذا .. 
										|هنا تخلى الجميع عن اسلحتهم .. هذا الأسد قد كسر أنيابه 
										| هذا الثعبان تخلى عن سمه .. 
										||رسالتك تؤديها على أكمل وجه .. مطمئنا .. لا يعوقك أي شيء .. 
										|لذا لا رحمة بالمقصرين او المتخاذلين ... 
										|ان حالفتك السعادة .. لتخطئ قدماك الطريق و تصل اليها فأنت امن .. طالما عبرت عبر النهر و لم تبتل قدماك .. 
										|فتعيده ادراجه بتيارته العنيفة او تبتلعه .. فتتقاسمه اسماك هذا النهر و سكان هذه الأرض .. 
										|هذا هو طعامهم .. اما لحومهم فهي محرمة عليهم .. 
										|انها بمثابة مثوبة عظيمة لمن له قلبه طيب ان يتنعم بحياة لن يستطيع فيها الجزم و لا النفي .. و لا التكذيب و لا التصديق .. فقط عليه ان يتنعم دون ان يفكر في كل ما حوله .. 
										|للمرة الاولى سيسمع صوت كل الحيوانات و النباتات و الحشرات .. 
										|سيلتف معهم حول القرد الحكيم الذي يعطيهم دروسا في الحياة .. 
										|سيجلس في مسابقة بين الطيور يشدو من يشاء منهم بأعذب ما غنى به اجدادهم السابقون .. 
										|هنا .. كل شيء ممكن .. الا الدوام .. 
										|ستبقى سعيدا الى ان تمل ... فتفقد لذة السعادة شيئا فشيئا .. 
										|و ترغب بالعودة الى سابق حياتك .. الى كدك و تعبك و شقائك .. 
										|فتشرب من الماء لتنسى .. و ينتهي كل شيء .. لتعود من هذا الأرض .. بقلب ازاد نقاء .. و ذاكرة تحاول جاهدا أن تتذكرها .. او تتذكر أين قضيت تلك الفترة من حياتك .. 
										|لن تتذكر .. هذا هو السر الذي لن تستطيع فهمه او افشائه .. 

						img.cover(src="img/article.jpg")
			.comment-area
				form
					.write-comment
						textarea(placeholder="أكتب التعليق  . . . ")
						button(type="submit") تعليق
				.comments
					.title.clearfix
						h3 التعليقات
						span.comments-count 
							sapn.red 56 
							| تعليقات 
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5
					.comment
						.comment-thumb: img(src="img/commenter.jpg")
						.comment-body
							a.commenter-name(href="#") Ahmed Magdy
							p  طريقة لوريم إيبسوم لأنها تعطيتوزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "عليقالتشهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل  استخدام طريقة .
						.comment-date 26 مارس 2014   في   PM 12:5

		include assets/jade/my-left-side-bar
		include assets/jade/footer
				
