-var page = {link1:'رسالة جديدة' , link2: 'الرسائل'}
doctype html
html(dir="rtl")
	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article.center-article
			.top.clearfix
				//- .compose.panel-header
					h2 رسالة جديدة
				.panel
					.form-horizontal.flat
						.form-group
							label من
							.control
								a(href="#") محمد كمال
						.form-group
							label الموضوع
							.control
								p موضوع الرسالة
						.form-group
							label نص الرسالة
							.control
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						//- .button-group
							button(type="button").btn.btn-default إرسال
							button(type="button").btn.btn-danger إلغاء
		include assets/jade/footer
