.form-group{
	margin-bottom: 24px;
	label{
		display: block;
		margin-bottom: 3px;
		text-align:left;
		padding-left:10px;
	}
	.form-control{
		width: 100%;
		height: 30px;
		border-radius:$small-radius;
		border: $border;
		color: #2c2c2c;
		padding:  6px;
		
	}
	.ui-selectmenu-button{
		border:$border;
		border-radius: 0;
	}
	.select{
		width: 260px;
	}
	&.checkbox{
		input{
			float: right;
			margin: 2px 0 2px 6px ;
		}
	}
}
.inline-form *{
	display: inline-flex;
}
.ui-selectmenu-button {
    background: #fff;
    color: #000;
}
.ui-menu-item {
    background: #fff;
}

.form-horizontal{
	label{
		width: 20%;
		float: right;
		margin-top: 6px;
	}
	.control{
		width: 80%;
		float: right;
		margin-bottom: 10px;
		a{
			color:$blue;
		}
	}
	textarea{
		// min-height: 200px;
		resize: none;
	}
	
}
.button-group{
		text-align: left;
	.btn{
		margin-right: 5px;
		}
	}
.btn{
	border-radius:3px;
	font-size:120%;
	padding: 5px 12px;
	border:none;
	color: #fff;
	&.btn-default{
		background-color: #005b76;
		transition:background-color .2s linear;
		&:hover{
			background-color:darken(#005b76,8%);
		}
	}
	&.btn-danger{
		background-color:#BD2727;
		transition:background-color .2s linear;
		&:hover{
			background-color:darken(#bd2727,8%);
		}
	}
}

.flat{
	input,textarea{
		border-radius:0 !important;
	}
}
.radio label {
	float: none;
	width: initial;
	margin: 0 5px 0 28px;
	vertical-align: middle;
	display: inline;
}

@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
.table-striped{
	 input { display: none; }
	label {
		display: block;
	      cursor: pointer;
	      position: relative;
	      width: 15px; height: 15px;
	      margin: 10px;
	      background: $accent;
	      font-size: 12pt;
	      color: #FFF;
	      font-smoothing: antialiased;
	      .fa {
	        position: absolute;
	        top: 0; left: 0; right: 0; bottom: 0;
	        opacity: 0;
	        transform: scale(0);
	        transition: all $speed $ease;
	        line-height: 15px;
	        text-align: center;
	      }
	    }
	    input:checked + label { background: shade($accent,25%);
	      .fa { opacity: 1; transform: scale(.8); }
	    }
	  }
.settings {
	width: 70%;
}
input[type="file"]{
	border:0 !important;
	color: transparent !important;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::before {
  content: 'upload files';
  display: inline-block;

  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: #fff;
	background-color: #005b76;
	border: none;
}
input[type="file"]:hover::before {
  border-color: black;
}
input[type="file"]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.ui-selectmenu-menu .ui-menu{
	border: 1px solid #cccccc;
}
#croppic{
	width: 215px;
	height: 360px;	
	background:url(../img/croppic.jpg);
}

.delete-row{
	font-family:"FontAwesome";
	color: red;
	font-size: 19px;
}
.add-row{
	font-family:"FontAwesome";
	font-size: 19px;
}







.Switch {
	position: relative;
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	color: #ccc;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
	height: 18px;
	padding: 6px 6px 5px 6px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	background: #ececec;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	font-size: 16px;
	.Round {
		padding: 0px 20px;
		border-radius: 40px;
	}
}

.Switch.Round .Toggle {
border-radius: 40px;
width: 14px;
height: 14px;
}

.Switch .Toggle {
position: absolute;
top: 1px;
width: 37px;
height: 25px;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.3);
border-radius: 4px;
background: #fff;
background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffffff));
background: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%);
background: -o-linear-gradient(top, #ececec 0%, #ffffff 100%);
background: -ms-linear-gradient(top, #ececec 0%, #ffffff 100%);
background: linear-gradient(top, #ececec 0%, #ffffff 100%);
box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
z-index: 999;
-webkit-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
-o-transition: all 0.15s ease-in-out;
-ms-transition: all 0.15s ease-in-out;
}
.Switch.Round.Off .Toggle {
left: 58%;
}

.Switch.Round.On .Toggle {
left: 3%;
background: #33d2da;
}
.Switch.Round {
padding: 0px 20px;
border-radius: 40px;
}
.form-info{
border: 1px solid ;
padding: 8px;
border-radius: 9px;
}
.error{
	@extend .form-info;
	border-color: red;
	color: rgb(255, 165, 165);
}
.success{
	@extend .form-info;

}