.user-pic img{
			width: 33px;
			float: right;
			margin-left: 9px;
		}
.top{
	position: relative;
	margin: 14px;
	.divider{
		width: 80%;
		height: 1px;
		background-color: whitesmoke;
		margin-bottom: 10px;	
	}
	.retweet,.commented,.like,.dislike{
		a{
			color:darken($blue,20%);
		}
		i{
			margin: 0 5px;
		}
	}
	.retweet{
		i{
			color:#0ba2ce;
		}
	}
	.commented{
		i{
			color:#0ba2ce;
		}
	}
	.like{
		i{
			color:#157d00;
		}
	}
	.dislike{
		i{
			color:#ff0101;
		}
	}
}
.home{
	width: 72%;
	width: calc(100% - 221px);
	float: left;
	.writer-info{
		display: inline-block;
		min-width: 160px;
		border-bottom:$border-blue;
		
		.user-url{
			color: $black;
			font-weight: bold;
			font-size: 15px;
		}
		
	}
	.content{
		margin: 20px;
		h2{
			padding:2px 28px;
			margin: 20px 0;
			a{
				color: inherit;
			}
			}
			p{
				font-size: 15px;
				text-align:justify;
			}
			
		&.book h2{
			background:url(../img/book-title.png) no-repeat right;
		}
		&.pen h2{
			background:url(../img/article-title.png) no-repeat right;
		}
	}
	.book-view,.article-view{
		label{
			width: 12%;
			display: inline-block;
			float: right;
			padding-top: 2px;
			padding-right: 21px;
		}
		p{
			width: 80%;
			float: right;
		}
	}

}
.cover{
	max-width: 215px;
	float:right;
}
.article-actions{
	position: absolute;
	bottom: 10px;
	left: 0px;
	a{
		padding: 5px 8px;
		background: #f4f4f4;
		border:$border-darker;
		margin-left: 13px;
		float: right;
		font-size: 12px;
		height: 28px;
		min-width: 50px;
		text-align: center;
		transition:background .2s linear;
		&:hover{
			background:darken(#f4f4f4,8%);
		}
		&.active{
			border-color:$blue;
			i{
				color:inherit;
			}
		}
		i{
			margin-left: 5px;
			font-size: 14px;
			color:#696969;
		}
		&.like{
			color:#157d00;
		}
		&.dislike{
			color:$red;
		}
		&.retweet{
			color: #1ca5cf;
			margin-left: 0;
		}
	}
}
.date{
			margin: 0 4px;
			color: #095e77;
		}
