.user-pic img{
			width: 33px;
			float: right;
			margin-left: 9px;
		}
.top{position: relative;margin: 7px;}
.home{
	width: calc(100% - 235px);
	float: right;
	.writer-info{
		display: inline-block;
		min-width: 160px;
		border-bottom:$border-blue;
		
		.user-url{
			color: $black;
			font-weight: bold;
			font-size: 15px;
		}
		.date{
			margin: 0 4px;
			color: #095e77;
		}
	}
	.content{
		h2{
			padding:2px 28px;
			margin: 20px 0;
			}
			p{
				font-size: 15px;
				text-align:justify;
			}
			a.more{
				color: $red;
				margin: 0 5px;
			}
		&.book h2{
			background:url(../img/article-title.png) no-repeat right;
		}
	}
}
.cover{
	max-width: 215px;
	float: left;
}
.article-actions{
	position: absolute;
	bottom: 10px;
	a{
		padding: 5px 22px 5px 8px;
		background: #f4f4f4 url(../img/article-actions.png) no-repeat right;
		border:$border-darker;
		margin-left: 36px;
		float: right;
		font-size: 12px;
		height: 28px;
		min-width: 50px;
		&.like{
			color:#157d00;
			background-position: 98% -1px;
		}
		&.dislike{
			color:$red;
			background-position: 98% -29px;
		}
		&.retweet{
			color: #1ca5cf;
			background-position: 98% -56px;
		}
	}
}