.left-side-bar{
	width: 260px;
	margin: 62px 0 9px 9px;
	float: left;
	background:#fff;
	border:$border-dark;
	&>h3{
		background:$blue-dark;
		color: #fff;
		margin: 0;
		padding: 10px 13px;
		font-weight: normal;
		font-size: 1em;
	}
	&.links{
		background:#eeeeee;
		border:1px solid #dbdbdb;
		padding: 0 11px;
		a{
			font-weight: normal;
			font-size: 11px;
		}
		.title{
			background:url(../img/bullet-blue.png) no-repeat right;
			padding-right: 14px;
			color: $blue-dark;
		}
	}
	a{color:$black;}
	

	.follow-others{

		.title{
			background-position: right 0px;
		}
		.follow-user{
			position: relative;
			width: 94%;
			border-bottom: $border-dark;
			padding-bottom: 10px;
			position: relative;
			width: 94%;
			border-bottom: 1px solid #e8e8e8;
			padding: 6px 12px 10px 0;
			&:last-child{
				border:none;
			}
		}
		
		
	}	
	
	.copyrights{
		background-color:#f4f4f4;
		margin: -1px;
		border-top: 1px solid #e8e8e8;
		text-align:center;
		color:#a3a3a3;
		padding-top: 7px;
		font-size: .9em;
	}
}
.follow-others,.choosen-pens,.choosen-books{
	background:url(../img/short-border.jpg) no-repeat 185px 35px;
	border-bottom:$border-dark;
	padding-bottom:10px;
	padding-top:10px;
	.title{
	color: lighten(#777777 , 20%);
	height: 18px;
	padding-right:23px;
	margin: 10px;
	margin-top: 0;
	background:url(../img/left-side-title.png) no-repeat right;
	display: block;
	font-weight: bold;
}
}
.choosen-pens{
	.title{
		background-position: right -18px;
	}
}
.choosen-books{
	.title{
		background-position: right -36px;
	}
}
.choosen-pens .pen,.choosen-books .book{
	border-bottom: 1px solid #e8e8e8;
	padding: 6px 12px 10px 0;
	width: 94%;
	&:last-child{
			border:none;
		}
	img{float: right;margin-left: 10px;}
	.pen-title,.book-title{
		line-height: 20px;
	}

}

.info li {
	float: right;
	height: 12px;
	text-align:center;
	background:url(../img/follow-user.png) no-repeat right;
	color: lighten(#333333, 40%);
	padding: 0 20px 0 6px;
	margin-left: 7px;
	border-left:  $border-dark;
	font-size: 11px;
	line-height: 18px;

	&:last-child{
		border:none;
		margin-left: 0;
	}
	&.followrs-count{
		background-position:right 0;
	}
	&.pins-count{
		background-position:right -12px;
	}
	&.books-count{
		background-position:right -24px;
	}
	&.views-count{
		background-position:right -36px;
	}
	&.retweets-count{
		background-position:right -48px;
	}
	.count{
		line-height: 16px;
	}
}