.login{
	background: url(../img/login-bg.jpg) no-repeat top center fixed; 
	background-size: cover;
	padding:25px 50px;
	.main-content{
		margin-top: 0;
	}
	.logo{
		float: left;
	}
	label{
		text-align: right;
	}
	.new-user{
		float: right;
		a{
			padding: .5em; 
			background: url(../img/signup-icon.png) right no-repeat;
			font-size: 17px;
			font-weight: bold;
			padding-right: 28px;
			color: #fff;
			border: none;
		}
	}
	#login-form,#register-form,#forgot-form{
		background-color: rgba(0, 0, 0, 0.5);
		width: 380px;
		margin: 10px auto;
		padding: 20px 60px;
		color: #fff;
		border-radius: $normal-radius;
		span{
				vertical-align: sub;
				vertical-align: -webkit-baseline-middle;
			}
		.form-control{
			background: white url(../img/edit-input.png) no-repeat;
			padding-right: 38px;
			&.user-name{
				background-position: 224px 0;
			}
			&.user-pass{
				background-position: 224px -31px;
			}
			&.user-mail{
				background-position: 224px -66px;
			}

		}
		.submit{
			width: 100%;
			border-radius: $small-radius;
			height: 50px;
			background: #fff;
			color: #000;
			font-weight: bold;
			font-size: 15px;
			border:$border;
			box-shadow: 0px 9px 21px 0px #313131;
			display: block;
			text-align: center;
			padding: 14px;
			transition: box-shadow .2s linear;
			&:hover{
				box-shadow: 0px 5px 10px 0 #313131;
			}
		}
	}
	#forgot-form{
		width: 500px;
		.form-control.user-mail{
			background-position: 344px -66px;
		}
	}
	.links{
		text-align:center;
		ul li{
			display: inline;

			a{
				color: $font-color;
				padding:0 14px;
				border-right:1px solid $font-color;

			}
			&:first-child a{
					border:none;
				}
		}
	}
}
#register-form{
	.magazine-name {
		float: left;
		width: 136px;
		background: white !important;
		padding-right: 5px !important;
		& + span{
			display: inline-block;
			margin-top: 11px;
		}
	}

}