@font-face {
  font-family: pens-english;
  src: url("fonts/neotechalt_bold-webfont.eot");
  src: url("fonts/neotechalt_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/neotechalt_bold-webfont.ttf") format("truetype"), url("fonts/neotechalt_bold-webfont.woff") format("woff"), url("fonts/neotechalt_bold-webfont.svg#pens-english") format("svg");
  font-weight: normal;
  font-style: normal; }
  @font-face {
  font-family: pens-arabic;
  src: url("fonts/ge_ss_two_medium-webfont.eot");
  src: url("fonts/ge_ss_two_medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ge_ss_two_medium-webfont.ttf") format("truetype"), url("fonts/ge_ss_two_medium-webfont.woff") format("woff"), url("fonts/ge_ss_two_medium-webfont.svg#pens-arabic") format("svg");
	font-weight: normal;
	font-style: normal; }
  @font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9jo8kz');
	src:url('fonts/icomoon.eot?#iefix9jo8kz') format('embedded-opentype'),
		url('fonts/icomoon.woff?9jo8kz') format('woff'),
		url('fonts/icomoon.ttf?9jo8kz') format('truetype'),
		url('fonts/icomoon.svg?9jo8kz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-profile, .icon-drawer{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.2;
	font-size: 21px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
	content: "\e601";
}
.icon-drawer:before {
	content: "\e600";
}

 
  .no-csscalc body ,.no-csscalc .blackbar{
  	min-width: 1352px;
  }
  body{
	font-size:14px;
	line-height: 19px;
	font-family:"pens-arabic",tahoma;
	background-color:#f4f4f4;
	min-width: 1200px;
	color:$black;
	
}
.clearfix:after ,.form-group:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
  
* html .clearfix,.form-group {
	height: 1%;
}
a{
	text-decoration:none;
	color:#fff;
}
.main-content{
	margin-top: 20px;
margin-bottom: 40px;
}
html *{
	box-sizing:border-box;
}
.pull-left{
	float: left;

}
.pull-right{
	float: right;
}
ul{
	margin: 0;
	padding: 0;
}
li{list-style: none;}
p {
margin-bottom: 2px;
margin-top: 2px;
font-family:tahoma;
}
.hide-text{
	text-indent:-99999px;
	overflow:hidden;
	display: block;
}
html,body{
	height: 100%;
}
.center-article{
	margin: 9px;
	border:$border-dark;
	float: right;
	width: 59%;
	width: calc(100% - 283px - 269px);
	background-color:#fff;
	
}

a.follow{
	position: absolute;
	left: 0;
	top: 10%;
	width: 46px;
	height: 20px;
	padding: 3px 0;
	text-align: center;
	background-color:lighten($blue, 35%);
	color: #fff !important;
	font-size: 9px;
	transition:background-color .2s linear;
	&:hover{
		background-color:lighten($blue, 15%);
	}
}
.nicescroll-rails > div{
	width: 100%;
	transition: width .2s ease;
	&:hover{
		width: 130% !important;
		cursor: pointer;
	}
}
a.more{
	color: $red;
	margin: 0 5px;
}
.panel{
	border:1px solid #f2f2f2;
	padding: 5px;
}
.profile .pagination .btn,.followers .pagination .btn{
	width: 40%;	

	margin: 0 auto;
}
.store .pagination{
	margin: 10px;
}
.pagination{
	margin:10px 0;
	text-align:center;
	.btn{
		color:#000;
		width: 100%;
		font-size: 28px;
		outline: none;
		background-color: $gray-light;
		border: 1px solid  #e5e5e5;
		transition:box-shadow .2s linear;
		&:hover{
			box-shadow: 0px 5px 7px 0 #AFAFAF;
		}
	}
	li{
		display: inline;
		margin: 5px;
		&:first-child a,&:last-child a{
			width: 50px;
			background-color:$blue-dark;
		}
		a{
			width: 30px;	
			height: 30px;
			display: inline-block;
			padding: 7px;
			background-color:$black;
			text-align:center;
			border-radius:$small-radius;
			color: #fff;
		}
	}
}
.panel-header{
		position: relative;
		background-color:$gray-light;
		position: relative;
		padding: 10px;
		margin-bottom: 16px;
		h2,p{
			padding: 0;
			margin: 0;

		}
		&>span{
			position: absolute;
			top: 5px;
			left: 10px;
			font-weight: normal;
			*{
				display: inline-block;
				vertical-align: middle;
			}
			ul{
				background:url(../img/gray-border.jpg) no-repeat left;
				padding-left: 8px;
				margin-left: 5px;
				.views-count {
					background-position: left -36px;
					padding: 0 0 0 20px;
					line-height: 15px;
					margin-left: 0;
				}
			}

		}
		.report{
			padding: 4px 7px;
			margin-right: 5px;
		}
	}
	.panel-body{
		// padding: 8px;
		
		p{
			padding: 0 14px 17px 0;
		}
	}
.panel-page{
	border:1px solid $gray-light;
	
	
	
	.title{
			background:url(../img/bullet-blue.png) no-repeat right;
			padding-right: 14px;
			color: $blue-dark;
		}
}

.footer{
	margin:5px 0;
	text-align:center;
	li {
		display: inline-block;
		font-size: 9px;
		font-weight: normal;
		&:first-child a{
			border-right:none;
		}
		&:first-child a:before{
				content: "";
				margin: 0;
			}
		a{
			color: #797979;
			padding: 3px;
			&:before{
				content: "|";
				margin: 0 0 0 8px;
			}
			
			
		}
	}
}
ol li{
	list-style: initial;
}
input,textarea{
	font-family:tahoma;
}
.contact-us{
	background:url(../img/contact-us.jpg) bottom left no-repeat;
	.panel-body{
		width: 600px;
	} 
}
h3{
	margin-bottom: 4px;
}
.table-details{
	width: 100%;
	margin-top: 10px;
	
	th,td{
		padding: 6px 22px;
		border:$border;
		background:$light-gray;
		font-weight: normal;
		&:last-child{
		text-align:center;
	}
	}	
	th{
		background:$blue-dark;
		color: #fff;
		text-align: right;
		border: 0;
	}
	
}
.social{
	display: inline-block;
	vertical-align: middle;
	li{
		margin-left: 4px;
		float: right;
		a{
			width: 25px;
			height: 25px;
			display: inline-block;
			background:url(../img/social-icons.jpg) no-repeat top right;
			
		}
		&.twitter a{
			background-position: -24px top;
		}
		&.facebook a{
			background-position: -49px top;
		}
		&.blogger a{
			background-position: 1px top;
		}
	}
}
.red{
	color:#ef2929;
}
.page-header{
	color:#898988;
	border-bottom:$border;
	padding-bottom: 8px;
	margin: 30px 14px 14px;
}
.article-view{
	a{
		color: $blue;
	}
}
