article{
	width: calc(100% - 282px);
	float: right;
	margin: 61px 275px 0 0 !important;
}
.profile-summary{
	padding-bottom: 0;
	.profile-right{
		float: right;
		margin-left: 20px;
		.inline-buttons{
			text-align: center;
			button{
				margin-top: 18px;
				background:$blue;
				font-size: 14px;
				color: #fff;
				border:0;
				outline: none;
				padding: 4px 12px;
			}
		}
	}
	.profile-pic{
		float: right;
		position: relative;
		.profile-details{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			background:rgba(0,0,0,.5);
			padding: 10px 0;
			transition: all .2s ease;
			li{
				float: right;
				background: url(../img/profile-details.png) no-repeat right 0;
				width: 25%;
				padding: 0 31px;
				margin-right: 20px;
				color: #fff;
				border-left: $border;
				&.followers{
					background-position: right -19px;
				}
				&.views{
					background-position: right -35px;

				}
				&:last-child{
					border:none;
				}
			}
		}
	}
	.profile-info{
		overflow: hidden;
		position: relative;
		width: 390px;
float: right;
		.domain{
			color: $black;
			font-family: "pens-english";
			h2{margin: 0;}
		}
		.title{
			background:url(../img/profile-title.png) no-repeat right;
			padding: 12px 27px 12px 0;
			color: $gray;
			border-bottom:$border-blue;
			display: inline-block;
		}
		// a.follow{
		// 	width: 100px;
		// 	height: 30px;
		// 	font-size: 14px;
		// 	top: 0;
		// 	padding-top: 8px;
		// 	background:$blue;
		// 	z-index: 999;
		// }
	}
}
.bottom{
	background: #fff url(../img/down-arrow.png) no-repeat top center; 
	border-top:$border-dark;
	padding: 10px 40px;
	margin-left: 4px;
}
.user-data{
	padding: 0 18px;
	border-right:8px solid $blue;
	background:$light-gray;
	margin-top: 17px;
	.data{
		padding: 10px 0;
		border-bottom:$border-dark;
		width: 50%;
		float: right;
		height: 43px;
		label{
			width: 72px;
			display: inline-block;
			border-left:2px solid $blue;
			margin-left: 10px;
			vertical-align: middle;
			&.hide-text{
				background:url(../img/user-data.png) no-repeat right 3px;
				height: 17px;
			}
			&.sex{
				
			}
			&.nationality{
				background-position:right -14px;
			}
			&.job{
				background-position:right -31px;
			}
			&.study{
				background-position:right -48px;
			}
			&.email{
				background-position:right -67px;
			}
			&.phone{
				background-position:right -84px;
			}
		}
		&:last-child{
			border-bottom:0;
		}
	}
}
.new-panel{
	width: calc(100% - 675px);
	float: right;
	&>div{
		float: right;
		width: 50%;
		border-bottom: none;
		&.choosen-pens, &.choosen-books{
			background-position: 72px 45px;
		}
	}
}

article.profile{
	 background: transparent !important; 
	.articles,.books{
		margin: 0 -0.5%;
		&>div{
			margin: 8px 0.3% !important;
		}
	}
}
