.search{
	.filter{
		text-align: center;
		ul{
			padding: 0 39px;
			display: inline-block;
			li{
				float: right;
				
				background-color:$gray-light;
				border: 1px solid darken($gray-light, 10%);
				&.selected,&:hover{
					background-color:$blue-dark;
					a{
						color: #fff;
					}
				}
				&,a{
					color: $gray;
				}
				a{
					padding: 9px 25px;
			display: inline-block;
					
				}
				&:first-child{
					border-radius:0 5px 5px 0;
				}
				&:last-child{
					border-radius:5px 0 0 5px;

				}
			}
			
		}

	}
} 
.results{
	position: relative;
	margin-top: 28px;
	h2{
		color: #878787;
		font-size: 15px;
		position: absolute;
		top: -73px;
	}
}
.result{
	background-color: $gray-light;
	padding: 13px;
	margin-bottom: 23px ;
	position: relative;
	height: 135px;
	border: 1px solid  #e5e5e5;
	padding-right: 94px;
	img.result-img{
		width: 60px;
		float: right;
		margin-left: 10px;
		position: absolute;
		top: 0;
		right: 0;
		width: 80px;
	}
	h3 a{
		color: #095e77;
	}
	.divider{
		position: absolute;
		bottom:-12px;
		right: 10%;
		width: 80%;
		height: 1px;
		background-color:$gray-light;
	}
	.writer-details{
		img{
		}
		.user-name{
			padding-top: 10px;

		}
		a{
			color: #095e77;
		}
		// position: absolute;
		// left: 10px;
		// top: 10px;
		// width: 140px;
		// .info{
		// 	margin-top: 10px;
		// }
	}
}

