.search{
	.filter{
		li{
			float: right;

		}
	}
	.results{
		.result{
			background-color: $gray-light;
			padding: 13px;
			margin-bottom: 23px ;
			position: relative;
			img{
				width: 60px;
				float: right;
				margin-left: 10px;
			}
			h3 a{
				color: #095e77;
			}
			.divider{
				position: absolute;
				bottom:-12px;
				right: 10%;
				width: 80%;
				height: 1px;
				background-color:$gray-light;
			}
		}
	}
}