.search{
	.filter{
		padding: 0 39px;
		li{
			float: right;
			&.ui-menu-item{
				background-color:darken($gray-light, 1%);
				padding: 5px 35px;
			}
			&,a{
				color: $gray;
			}
			&:first-child{
				border-radius:0 5px 5px 0;
			}
			&:last-child{
				border-radius:5px 0 0 5px;

			}
		}
		& > li.ui-menu-item{
			padding: 15px 35px;
			background-color:$gray-light;

		}
	}

}
		.result{
			background-color: $gray-light;
			padding: 13px;
			margin-bottom: 23px ;
			position: relative;
			img{
				width: 60px;
				float: right;
				margin-left: 10px;
			}
			h3 a{
				color: #095e77;
			}
			.divider{
				position: absolute;
				bottom:-12px;
				right: 10%;
				width: 80%;
				height: 1px;
				background-color:$gray-light;
			}
			.writer-details{
				position: absolute;
				left: 10px;
				top: 10px;
				width: 140px;
				.info{
					margin-top: 10px;
				}
			}
		}

