article.store , article.profile {
	background:#fff;
	padding: 6px 0;
	.books{
		img.book-thumb{
			width: 173px;
			height: 250px;
		}
	}
	.articles{
		img.article-thumb{
			width: 173px;
			height: 156px;
		}
	}
	.books>div, .articles>div{
		background: $gray-light;
		width: 17.8%;
		height: 330px;
		float: right;
		padding: 12px 9px;
		margin: 8px 1.1%;
		text-align: center;
		min-width: 189px;
		.title{
			margin: 0;
			padding: 0 5px;
			text-align: right;
			border-bottom:1px solid #e6e6e6;
			margin-bottom: 3px;
			a{
				color:#095e77;	
			}
			
		}
		.writer-details{
			text-align: right;
		}
		.views-count{
			float: left;
		}
	}
	.articles>div{
		height: 240px;
	}
}
.followers{
	width: 992px;
	margin: 0 auto;
	.pagination{
		margin: 0 10px;
	}
}
.follower{
	position: relative;
	width: 188px;
	height: 188px;
	margin: 4px;
	overflow: hidden;
	display: inline-block;
	.user-name{
		position: absolute;
		top: 10px;
		left: 10px;
		background:rgba(0,0,0,.5);
		padding: 4px 10px;
		margin-top: 4px;
	}
	.follow-me{
		position: absolute;
		bottom:10px;
		left:10px;
		background-color: $blue;
		padding: 2px 5px;
		transition:background-color .2s linear;
		&:hover{
			background-color:lighten($blue,15%);
		}
	}
}
// .side-bar.store{
// 	height: 350px;
// }