$normal-radius : 10px;
$small-radius : 5px;
$very-small-radius:3px;
$border:1px solid #ccc;
$border-dark:1px solid #e8e8e8;
$border-darker:1px solid #cccccc;
$border-blue:2px solid #0099c6;
$font-color: #313131;
$black:#3d3d3b;
$gray:#646464;
$gray-light:#f5f5f5;
$light-gray:#f7f7f7;
$red:#ee0303;
$blue:#0ba2ce;
$blue-dark:#007597;