head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Pens & Books
	link(rel='stylesheet', href='css/jquery-ui.css')
	link(rel='stylesheet', href='css/style.css')

