.left-side-bar 
	.follow-others
		a.title(href="#") يمكنك متابعة الآخرين 
		.follow-user
			.user-pic: img(src="img/commenter.jpg")
			a.user-url(href="profile.html") احمد مجدى
			ul.clearfix.info
				li.followrs-count: .count 20
				li.pins-count: .count 20
				li.books-count: .count 20
			a.follow(href="#") متابعة 
		.follow-user
			.user-pic: img(src="img/commenter.jpg")
			a.user-url(href="profile.html") احمد مجدى
			ul.clearfix.info
				li.followrs-count: .count 20
				li.pins-count: .count 20
				li.books-count: .count 20
			a.follow(href="#") متابعة 
		.follow-user
			.user-pic: img(src="img/commenter.jpg")
			a.user-url(href="profile.html") احمد مجدى
			ul.clearfix.info
				li.followrs-count: .count 20
				li.pins-count: .count 20
				li.books-count: .count 20
			a.follow(href="#") متابعة 
	.choosen-pens
		a.title(href="#") مقالات مختارة
		.pen
			img(src="img/pen.jpg")
			a.pen-title(href="#") قيامة
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480
		.pen
			img(src="img/pen.jpg")
			a.pen-title(href="#") قيامة
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480
	.choosen-books
		a.title(href="#") كتب مختارة
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") قيامة
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") قيامة
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480	
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") قيامة
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480	
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") قيامة
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480		
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") قيامة
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480	
	.footer
		ul
			li: a(href="about-us.html") من نحن
			li: a(href="#") الخصوصية
			li: a(href="#") الشروط و الأحكام
			li: a(href="contact-us.html") إتصل بنا
