.left-side-bar.links
	h3.title المزيد
	ol
		li: a(href="#") الأدوات التفاعلية
		li: a(href="#") القاصرون والأمان
		li: a(href="#") صفحة الخصوصية 
		li: a(href="#") صفحة أمان
		li: a(href="#") صفحة القواعد الحاكمة
		li: a(href="#") عناصر التحكم في الإعلان 
		li: a(href="#") عرض "سياسة استخدام البيانات" كاملة