.blackbar
	.top-nav.clearfix
		#headNav.pull-right
			ul.pageNav
				li.flag
					a.hide-text(href="#")
						u flag
					span.alert 5
				li.messages
					a.hide-text(href="#")
						u messages
					span.alert 5
				li.archive
					a.hide-text(href="store.html")
						u archive
					span.alert 5
				li.profile
					a.hide-text(href="profile.html")
						u profile
					span.alert.active 5
		a.main-home.pull-right(href="home.html") الرئيسية
		.main-search.pull-right
			form
				input(type="search" , placeholder="ابحث هنا ...")
				button(type="submit")
		h1.pageLogo.hide-text.pull-left: a(href="http://www.pensandbooks.com")
			i.imgLogo Pens and Books 